<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Cidades</title>
  <link rel="stylesheet" href="./css/formCidade.css">
  <script>

    document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);
    const sucesso = urlParams.get('sucesso');

    if (sucesso === 'true') {
      alert('Cidade deletada com sucesso!');

      // Limpar o parâmetro 'sucesso' da URL
      const urlWithoutSuccess = window.location.href.split('?')[0];
      history.replaceState(null, '', urlWithoutSuccess);
    }

    fetchCidades();
  });

    async function fetchCidades() {
      try {
        const response = await fetch("/cidades");
        const cidades = await response.json();
        const tableBody = document.getElementById("cidades-table-body");
        tableBody.innerHTML = "";

        cidades.forEach((cidade) => {
          const row = document.createElement("tr");
          row.innerHTML = `
        
            <td>${cidade.Nome}</td>
            <td>${cidade.Pais}</td>
            <td>${cidade.Pop}</td>
            <td>${cidade.Capital || "N/A"}</td>
            <td><a href="/deletarCidade/${cidade._id}">Deletar</a></td>
            <td><a href="/FormEdicaoCidade/${cidade._id}"">Editar</a></td>
          `;
          tableBody.appendChild(row);
        });
      } catch (error) {
        console.error("Erro ao buscar cidades:", error);
      }
    }
  </script>
</head>
<body>
  <h1>Cadastro e Lista de Cidades</h1>
  <div class="container">
    <div class="table-cidades">
      <h2>Lista de Cidades</h2>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>País</th>
            <th>População</th>
            <th>Capital</th>
          </tr>
        </thead>
        <tbody id="cidades-table-body"></tbody>
      </table>
    </div>

    <form action="/cadastrarCidade" method="post">
      <h2>Cadastro de Cidades</h2>
      <label for="Nome">Nome:</label>
      <input
        id="Nome"
        name="Nome"
        type="text"
        placeholder="Digite o nome da cidade"
        required
      />
      <label for="Pais">País:</label>
      <input
        id="Pais"
        name="Pais"
        type="text"
        placeholder="Digite o país"
        required
      />
      <label for="Pop">População:</label>
      <input
        id="Pop"
        name="Pop"
        type="number"
        placeholder="Digite a população"
        required
      />
      <label for="Capital">Capital:</label>
      <input
        id="Capital"
        name="Capital"
        type="text"
        placeholder="Digite a capital (se aplicável)"
        required
      />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</body>
</html>
