
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Cidade</title>
</head>
<body>
    

    <Form action="" method="post">
        <label for="Nome">Nome:</label>
        <input name="Nome" type="text" value="" placeholder="Digite o nome da Cidade cidade">
        <label for="Pais">Pais</label>
        <input name="Pais" type="text" value="" placeholder="Digite o Pais">
        <label for="Pop">POP</label>
        <input name="Pop" type="number" value="" placeholder="Digite a ">
        <label for="Pais">Pais</label>
        <input name="Pais" type="number" value="" placeholder="Digite o Pais">

    </Form>

</body>
</html>